body {
    margin: 0%;
    padding: 0%;
    background-color: #0F0F0F;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0F0F0F;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (orientation: portrait) {
    ::-webkit-scrollbar {
        display: none;
    }
}