.heading {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400 !important;
    color: #989797;
    text-align: center;
}

.wardenProfile {
    background-color: #0f0f0f;
    height: 100vh;
    line-height: 0.3;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: flex-start;
    padding-inline: 15px;
    overflow: scroll;
}

@media screen and (max-width: 1200px) {
    /* .wardenProfile{
        position: absolute;
        top: 0;
        width: 100%;
        overflow: hidden;
    }
    body{
        overflow: hidden;
    } */
}

.wardenImage {
    border-radius: 250px;
    border: 5px white solid;
    height: 120px;
    width: 120px;
    align-self: center;
    margin-block: 20px;
}

.wardenName {
    color: white;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    text-align: center;
}

.boldText {
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    font-size: 18px;
}

.text {
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
}

.proofHeading {
    color: white;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    padding-top: 25px;
}

.imageCaption {
    color: white;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400 !important;
    font-size: 20px;
    padding-block: 15px;
}


.proofImage {
    width: 100%;
    max-width: 800px;
    height: 80%;
    border-radius: 10px;
}

.blueButton {
    padding-inline: 30px !important;
    padding-block: 10px !important;
    background-color: #0729A1 !important;
    color: white !important;
    font-size: 13px;
    align-self: center;
    width: 100%;
    max-width: 200px;
    font-size: 18px;
    margin-block: 15px;
    max-height: 51px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    text-transform: none !important;
}



.backButton {
    background-color: transparent;
    font-family: 'Raleway', sans-serif !important;
    align-self: flex-start !important;
    display: none !important;
}

@media screen and (max-width: 1200px) {
    .backButton {
        display: flex !important;
    }
}

.goBackText {
    color: white;
    text-decoration: none !important;
    text-transform: none;
}

.redButton {
    padding-inline: 30px !important;
    padding-block: 10px !important;
    background-color: red !important;
    color: white !important;
    font-size: 13px;
    align-self: center;
    width: 100%;
    max-width: 200px;
    font-size: 18px;
    margin-block: 15px;
    max-height: 51px;
    margin-left: 20px !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    text-transform: none !important;
}

.buttonGroup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 40px;
}