.heading {
    color: white;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    padding-block: 25px !important;
}

.subtitle {
    color: white;
    font-family: 'Raleway', sans-serif !important;
    font-weight: lighter;
    margin: 0%;
    padding-inline: 40px;
    text-align: center;
    padding-bottom: 20px !important;
}

.loginBox {
    background-color: #0f0f0f !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

.formCard {
    background-color: #000000 !important;
    display: flex !important;
    justify-content: center !important;
    padding-inline: 30px !important;
    padding-block: 30px !important;
    width: 100% !important;
    max-width: 500px !important;
    height: auto !important;
    align-items: center !important;
    box-shadow: 0px 10px 40px 0px #00000080 !important;
    border-radius: 30px !important;
    flex-direction: column !important;
}

.icon {
    width: 90px !important;
    height: 90px !important;
    color: #989797;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 25vw !important;
    height: 65px !important;
    background-color: #0F0F0F;
    border: none !important;
    color: #949494 !important;
    font-size: 18px !important;
    padding-inline: 20px;
    font-family: 'Raleway', sans-serif !important;
}

.label {
    color: white;
    text-align: left !important;
    align-self: flex-start !important;
    font-size: 26px;
    font-weight: 700 !important;
    padding-top: 1vw;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif !important;
}

.underline {
    align-self: flex-end;
    padding-block: 10px;
    text-decoration: underline;
    color: white;
    font-weight: 700 !important;
    color: #949494;
    font-family: 'Raleway', sans-serif !important;
}

.button {
    background-color: #0729A1 !important;
    color: white !important;
    width: 12.5vw !important;
    height: 3.5vw !important;
    border: none !important;
    font-size: 20px !important;
    margin-block: 20px !important;
}

.buttonText {
    font-family: 'Raleway', sans-serif !important;
    text-decoration: none !important;
    font-weight: 700 !important;
    color: white !important;
    text-transform: none;
}

.error {
    font-family: 'Raleway', sans-serif;
    color: red;
}

.ghost {
    max-width: 236px;
    max-height: 236px;
}

.buttonGroup {
    display: flex;
    justify-content: space-around !important;
    padding-block: 15px;
    align-items: center;
}

.ghostButton {
    color: white !important;
    width: 12.5vw !important;
    height: 4vw !important;
    align-self: center !important;
    border: none !important;
    font-size: 20px !important;
    margin-block: 20px !important;
    font-weight: 700 !important;
    color: white !important;
    text-transform: none !important;
    background-color: transparent !important;
    font-family: 'Raleway', sans-serif !important;
}

.modalInput {
    height: 65px !important;
    color: #949494 !important;
    font-size: 18px !important;
    width: 100% !important;
    border-bottom: 1px #292A2E solid;
    padding-inline: 20px;
    font-family: 'Raleway', sans-serif !important;
}

.container {
    height: 50px;
    width: 300px;
}

.character {
    line-height: 50px;
    font-size: 36px;
    color: white;
    background-color: transparent;
    font-weight: 700;
    border-bottom: 2px solid white;
    margin-left: 16px;
}

.character:first-child {
    margin-left: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
}

.text {
    font-family: 'Raleway', sans-serif;
    white-space: nowrap;
}

.buttonText {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: medium;
    color: white;
}

.verificationButtonGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.verificationGhostButton {
    font-family: 'Raleway', sans-serif !important;
    background-color: transparent;
    text-transform: none;
    color: white !important;
    padding-block: 10px;
    padding-inline: 50px;
    font-weight: 700;
}

.verificationBlueButton {
    background-color: #0729A1 !important;
    padding-block: 10px;
    padding-inline: 50px;
    text-transform: none;
    color: white;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700;
}