.heading {
    color: white;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    padding-bottom: 5%;
}

.subtitle {
    text-align: left !important;
    color: white;
    font-family: 'Raleway', sans-serif !important;
    font-weight: lighter;
    margin: 0%;
    text-align: center;
}

.loginBox {
    background-color: #0f0f0f !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

.formCard {
    background-color: #000000 !important;
    display: flex !important;
    justify-content: center !important;
    padding-inline: 50px !important;
    padding-block: 50px !important;
    width: 100% !important;
    max-width: 800px !important;
    height: auto !important;
    align-items: center !important;
    flex-direction: column !important;
}

.icon {
    width: 90px !important;
    height: 90px !important;
    color: #989797;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.input {
    width: 25vw !important;
    height: 65px !important;
    background-color: #0F0F0F;
    border: none !important;
    color: #949494 !important;
    font-size: 18px !important;
    padding-inline: 20px;
    font-family: 'Raleway', sans-serif !important;
}

.label {
    color: white;
    text-align: left !important;
    align-self: flex-start !important;
    font-size: 26px;
    font-weight: 700 !important;
    padding-block: 1vw;
    font-family: 'Raleway', sans-serif !important;
}

.underline {
    align-self: flex-end;
    text-decoration: underline;
    color: white;
    font-weight: 700;
    color: #949494;
    font-family: 'Raleway', sans-serif;
}

.button {
    background-color: #0729A1;
    color: white;
    width: 12.5vw;
    height: 3.5vw;
    border: none;
    font-size: 20px;
    margin-block: 20px;
}

.buttonText {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.error {
    font-family: 'Raleway', sans-serif;
    color: red;
}

.ghost {
    max-width: 236px;
    max-height: 236px;
}

.buttonGroup {
    display: flex;
    justify-content: space-around !important;
    padding-block: 15px;
    align-items: center;
}

.ghostButton {
    color: white;
    width: 12.5vw;
    height: 4vw;
    align-self: center;
    border: none;
    font-size: 20px;
    margin-block: 20px;
    color: white;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
}