.heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
}

.Box {
    background-color: #0f0f0f !important;
    height: 100vh;
    line-height: 0.3;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    justify-content: flex-start;
    padding-inline: 15px;
}

.logoutButton {
    background-color: black;
    width: 135px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-inline: 25px;
}

.logoutIcon {
    color: white !important;
}

.logoutButtonText {
    color: white;
    margin: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.firstContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    margin-bottom: 25px;
}

.tableHead {
    background-color: #0f0f0f !important;
}

.tableHeading {
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    font-size: 22px !important;
}

.tableEntry {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0f0f0f !important;
}

.text {
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
    font-size: 1vw !important;
}

.nameAndImage {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.blueButton {
    height: 35px;
    width: 113px;
    background-color: #0729A1 !important;
    color: white !important;
    font-size: 13px;
    border: none;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    text-transform: none !important;
}

.violationButton {
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
    text-transform: none !important;
    font-weight: 700 !important;
    font-size: 13px;
}

.addIcon {
    margin: 5px;
}