.heading {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
    padding-bottom: 40px;
}

.image {
    max-width: 200px;
    height: auto;
    align-self: center;
}

.sidebar {
    background-color: #131313;
    height: 100vh;
    line-height: 0.3;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    margin: 0% !important;
    justify-content: flex-start;
}

.buttonIconBack {
    border-radius: 10;
    background-color: #292A2E;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 10px;
}

.buttonTitle {
    font-family: 'Raleway', sans-serif;
    color: white !important;
    font-size: 16px;
}

.button {
    height: 141px;
    width: 200px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    flex-direction: column;
    justify-content: center;
}

.buttonIcon {
    width: 48px !important;
    height: 48px !important;
    background-color: #292A2E;
    color: white;
}