.Box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    padding-block: 25px;
    padding-inline: 15px;
}

@media screen and (orientation: landscape) {
    .Box {
        margin: 30px;
    }
}

.heading {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    padding-block: 10px;
    color: white;
}